<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer</title>
    <link rel="stylesheet" href="../gym-snippets/trainer.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="icon" href='/gym-images/log.png'>
</head>

<body>
    <header>
        <a href="#" class="logo">Fit<span>ness</span></a>
        <div class="toggle">
            <img src="../gym-snippets/toggle.png">
        </div>
    </header>
    <div class="banner">
        <video src="../gym-snippets/bg.mp4" autoplay muted loop type="mp4"></video>
        <div class="textBox">
            <h2>More than Fitness</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum esse mollitia quis deserunt magni cum
                dolorem temporibus veritatis soluta dignissimos eaque, harum quasi hic molestiae nesciunt id, ut unde.
                Accusantium.</p>
            <a href="#">read more</a>
        </div>
        <div class="imgBox">
            <img src="gym-snippets/man.png">
        </div>
        <ul class="sci">
            <li><a href="#"><img src="../gym-snippets/facebook.png"></a></li>
            <li><a href="#"><img src="../gym-snippets/twitter.png"></a></li>
            <li><a href="#"><img src="../gym-snippets/instagram.png"></a></li>
        </ul>
    </div>
</body>

</html>
